/* CSS declarations go here */

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}
h3{
    color: #B2BD00;
}
/** *****| Image Rotation |***** **/
.fadein { 
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 1200px;
}
.rotator_01 {
    background: url("images/rotator01.jpg") center no-repeat;
    background-size: cover;
    background-attachement: fixed;
    width: 100%;
    height: 1200px;
    position: relative;
    z-index: 0;
}

/** *****| Header |***** **/
#navigation {
    position: relative;
    background-color: #b2bd00;
    height: 50px;
}
#navigationLinks ul li {
    position: relative;
    float: left;
    top: 13px;
    margin: 0 5px;
    list-style: none;
    color: #ffffff;
}
#navigationLinks ul li a {
    color: #FFFFFF;
}
#accountLinks ul li {
    position: relative;
    display: inline-block;
    list-style: none;
    color: #ffffff;
    margin: 0px 5px;
    top: 13px;
}
#accountLinks ul li a {
    color: #222222;
}
.accounts-dialog {
    color: black !important;
}


/** *****| Mobile Navigation |***** **/
.mobile_nav {
    position: relative;
    top: 80px;
    margin-top: 80px;
}
.link_mobile ul li a {
    color: #FFF;
    font-size: 1.5em;
}
.login_mobile {
    position: relative;
    background-color: #b2bd00;
    border-radius: 10px;
    padding: 5px 15px;
}
.login-link-text {
    color: #FFF;
}
.account_mobile {
    position: relative;
    margin-top: 5px;
}
.account_mobile a {
    color: #FFF;
    font-size: 1.2em;
}
/** *****| Logo |***** **/
.logo {
    position: absolute;
    top: 10px;
    z-index: 10;
    left: 50%;
    margin-left: -81px;
}

/** *****| Tag Line |***** **/
.tagline {
    position: relative;
    margin-top: 95px;
}
.tagline span {
    color: #FFFFFF;
    font-size: 1.5em;
}

/** *****| Page Title |***** **/
.pagetitle {
    position: relative;
    margin-top: 95px;
}
.pagetitle h1 {
    color: #FFFFFF;
    font-size: 4em;
}

/** *****| Search Field |***** **/
#pageWrap{
    z-index: 5;
    position: relative;
    height: auto;
    width: auto;
}
.opportunityFinder {
    position: relative;
    margin-top: 20px;
    height: 100%;
}
#opportunityLinks {
    margin-bottom: 10px;
    border-right: 0px white solid;
}
#searchField {
    background-color: #459ed7;
    border-radius: 10px;
    padding: 0;
}
#search_title {
    background-color: #2c78ac;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
}
#filter_select span {
    position: relative;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 16px;
}
#filter_select input {
    margin-right: 5px;
}
#searchResults {
    color: #FFFFFF;
    height: auto;
}
#search{
	height:26px;
	clear:both;
}
#user_search{
	float:left;	
}
#search_submit{
	float:left;
	height:100%;
	width:26px;
	background-color:#b2bd00;
	line-height:26px;
	cursor:pointer;
}
#search_submit i {
	width:100%;
	height:100%;
	line-height:100%;
	text-align:center;
}
#findVolunteers {
    background-color: #2c78ac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    width: 100%;
    padding: 5px 0;
}
#findVolunteers a {
    color: white;
}
#search_results span{
    color: white;
    display: block;
}
#search_results span[name=name]{
    text-transform: uppercase;
    font-weight: bold;
}
/** *****| Browse Opportunities |***** **/
.title {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #FFF;
    color: #459ed7;
    font-weight: bold;
    font-size: 2em;
}
#browseOpportunities {
    background-color: #ffffff;
    padding: 10px 0px;
}
.paw-blue {
    position: relative;
    margin: 0 auto;
    background-color: #459ed7;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
}
.paw-green {
    position: relative;
    margin: 0 auto;
    background-color: #b2bd00;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
}
.paw-orange {
    position: relative;
    margin: 0 auto;
    background-color: #bd7433;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
}
.paw-blue i, .paw-green i, .paw-orange i {
    color: white;
    font-size: 24px;
    position: relative;
}
.paw-blue .fa-paw,
.paw-green .fa-child,
.paw-blue .fa-medkit {
    position: relative;
    top: 10px;
}
.paw-orange .fa-futbol-o,
.paw-green .fa-recycle,
.paw-orange .fa-heart {
    position: relative;
    top: 12px;
}
.browseText {
    position: relative;
    mergin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

/** ****| CONTENT |**** **/
.white-topper {
  background-image: url(images/white-topper.png);
  height: 46px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#white-section {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
}

#description {
  width: 50%;
  float: left;
  padding: 0 10px;
}
#details {
  width: 50%; 
  float: right;
  margin-top: 65px;
  padding: 0 10px;
}
.event {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #2c78ad;
  display: block;
}
.org {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #b2bd00;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  margin-top: 5px;
}
.freq {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  display: block;
  margin-top: 10px;
}
.vols {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #2c78ad;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
#description .fa {
  color: #2c78ad;
  margin-right: 5px;
}
#description .tag {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.location-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #b2bd00;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.address {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: italic;
  display: block;
}
.phone {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2c78ad;
  font-weight: bold;
  display: block;
}
.date {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 15px;
}
.time {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
}
#details img {
  margin-top: 25px;
}
#signup-btn {
  text-align: center;
  height: 45px;
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #b2bd00;
  line-height: 45px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border-radius: 5px;
}
.back-to {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  margin-top: 25px;
  color: #2c78ad;
  text-decoration: underline;
}


/** ****| Event Form|**** **/

#form-box h2 {
  font-fmaily: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #b2bd00;
  text-align: center;
}
#form-box {
  background-color: #ebebeb;
  padding: 10px 60px 30px;
  border-radius: 3px;
}
.form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2c78ad;
  font-weight: bold;
  text-transform: uppercase;
}
#form-box td {
  width: 200px;
}

#form-box td input {
  width: auto;
}
#submit-btn {
  text-align: center;
  height: 45px;
  background-color: #b2bd00;
  line-height: 45px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  border-radius: 5px;
}


/** *****| Quote |***** **/
.green-topper {
  background-image: url(images/green-topper.png);
  height: 46px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#quoteSection{
    background-color: #ffffff;
}
#green-section {
  background-color: #b2bd00;
  padding-top: 30px;
  padding-bottom: 30px;
}
.quote {
    background-color: inherit;
    font-size: 2.5em;
}
.quoteName {
    padding-bottom: 10px;
    font-style: italic;
    font-size: 2em;
}
/** *****| Hashtags |***** **/
#socialShare {
    background-color: #FFFFFF;
}
.hashtag_title {
    margin-top: 10px;
}
.hashtag_title span {
    font-size: 2em;
    font-style: italic;
}
.hashtags {
    min-height: 100px;
}
/** *****| Footer |***** **/
#footer {
    background-color: #b2bd00;
    background-image: url(images/footer.png);
    height: 200px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footer_wrap {
    margin-top: 40px;
}
.social span {
    color: #FFF;
    font-size: 1.3em;
}
.socialBubble {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #FFF;
    border-radius: 25px;
    cursor: pointer;
}
.socialBubble i {
    position: relative;
    top: 12px;
    font-size: 24px;
    
}
.socialBubble:hover {
    background-color: #459ed7;
}
.no-padding {
  padding: 0;
}

#filter_select span{
	display:block;
}

.lm-social-share-btn{
	display:inline-block
}

