/* CSS declarations go here */
body{
    padding: 0;
    border: 0;
    margin: 0;
}
#navigation{
    background-color: #b2bd00;
    padding: 5px;
}
#navigationLinks{
    float: left;
}
#navigationLinks ul li{
    display: inline-block;
    list-style: none;
    color: #ffffff;
    padding: 0px 5px;
}
#navigationLinks a{
    border-right: 1px solid #ffffff;
}
#navigationLinks ul li:last-child{
    border-right: 0px solid #ffffff;
}
#accountLinks{
    float: right;
}
#accountLinks ul li{
    display: inline-block;
    list-style: none;
    color: #ffffff;
    padding: 0px 5px;
}
#accountLinks a{
    border-right: 1px solid #ffffff;
}
#accountLinks ul li:last-child{
    border-right: 0px solid #ffffff;
}

.spacer{
    clear: both;
}
.logo{
  position: absolute;
    top: 10px;
    z-index: 10;
}

/*#mainSection{
    background-image: url("images/rotator01.jpg");
    min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}*/
.fadein{ 
    position: absolute;
    z-index: 1;
    top: 190px;
    width: 100%;
    height: 550px;
}
.rotator_01{
    background: url("images/rotator01.jpg") center no-repeat;
    background-size: cover;
    background-attachement: fixed;
    width: 100%;
    height: 550px;
    position: relative;
}
#pageWrap{
    z-index: 2;
    position: relative;
}

.green-topper {
  background-image: url(images/green-topper.png);
  height: 46px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#green-section {
  background-color: #b2bd00;
}

#footer {
  background-image: url(images/footer.png);
  height: 200px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.no-padding {
  padding: 0;
}

#filter_select span{
	display:block;
}
#search{
	height:26px;
	clear:both;
}
#user_search{
	float:left;	
}
#search_submit{
	float:left;
	height:100%;
	width:26px;
	background-color:#b2bd00;
	line-height:26px;
	cursor:pointer;
}
#search_submit i {
	width:100%;
	height:100%;
	line-height:100%;
	text-align:center;
}
.lm-social-share-btn{
	display:inline-block
}
