
<template name="createEvent">

  <!-- *****| Background Image |***** -->
  <div class="fadein">
    <div class="rotator_01"></div>
    <!--<div class="rotator_02"></div>-->
  </div>
  
  <!-- *****| Page Wrap |***** -->
  <div id="pageWrap">
    
      <!-- *****| Navigation |***** -->
    <div class="container-fluid hidden-xs visibile-sm visible-md visible-lg">
      <div id="navigation">
        <div class="container">
          <div id="navigationLinks" class="col-md-6">
            <ul>
              <li><a href="#">Volunteer</a></li>
              <li>|</li>
              <li><a "onclick="window.location = './createEvent';"">Find a Volunteer</a></li>
              <li>|</li>
              <li><a href="#">Explore the Causes</a></li>
            </ul>
            <div class="spacer"></div>
          </div>
          <!-- *****| Account Links |***** -->
          <div id="accountLinks" class="col-md-6 text-right">
            <ul>
              <li>{{> loginButtons}}</li>
              <li><a href="#">My Account</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- *****| Logo Section |***** -->
    <div class="row">
        <div class="container">
          <div class="col-md-2 col-md-offset-5 logo">
              <a href="#"><img  src="images/logo.png" alt="humble hands logo" /></a>
          </div>
        </div>
    </div>
    <!-- *****| Mobile Navigation |***** -->
  
	<div class="row mobile_nav">
      <div class="container-fluid visible-xs hidden-sm hidden-md hidden-lg">
        <div class="col-xs-6 col-xs-offset-3 text-center">
          <div class="link_mobile">
            <ul class="list-unstyled">
              <li><a href="#">Volunteer</a></li>
              <li><a onclick="window.location = './createEvent';">Find Volunteers</a></li>
              <li><a href="#">Explore the Causes</a></li>
            </ul>
          </div>
          <div class="login_mobile">
            {{> loginButtons}}
          </div>
          <div class="account_mobile">
            <a href="#"><span>My Account</span></a>
          </div>
        </div>
      </div>  
    </div>
	
    <!-- *****| Page Title |***** -->
    <div class="row">
      <div class="container">
        <div class="pagetitle col-md-10 col-md-offset-1 text-center">
          <h1>Find Your Volunteers</h1>
        </div>
      </div>
    </div>
 
   <!-- *****| Content |***** -->
   <div class="row" id="content-wrap">
     <div class="container-fluid col-md-12 no-padding">
     <div class="white-topper"></div>
        <div id="white-section">
        <div class="row">
          <div class="container">
            <div class="col-md-6 col-md-offset-3" id="form-box">
              <div class="table-responsive">
	<h2>Create your event!</h2>
  <br />
	<table class="table">
		<tr>
			<td><span class="form-title">Organization Name:</span></td>
			<td><input type='text' name='organizationName' id="organizationName" /></td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">Event Name:</span></td>
			<td><input type='text' name='eventName' id="eventName" /></td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">Event Description:</span></td>
			<td><input type='text' name='eventDescription' id="eventDescription" /></td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">Date:</span></td>
			<td><input type='date' name='date' id="date" /></td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">Event Time:</span></td>
			<td>
				<input type='time' name='startTime' id="startTime" />
				<span>to</span>
				<input type='time' name='endTime' id="endTime" />
			</td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">Frequency:</span></td>
			<td>
				<span><input type="checkbox" name="oneTime" id="oneTime"> One-time event</span>
				<br /><span><i>or</i></span><br />
				<select name="day" >
					<option value="" selected="selected"></option>
					<option value="Monday">Monday</option>
					<option value="Tuesday">Tuesday</option>
					<option value="Wednesday">Wednesday</option>
					<option value="Thursday">Thursday</option>
					<option value="Friday">Friday</option>
					<option value="Saturday">Saturday</option>
					<option value="Sunday">Sunday</option>
				</select>
			</td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title"># of Volunteers:</span></td>
			<td>
				<input type='text' name='numberOfVolunteers' id="numberOfVolunteers" />
			</td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">Location Address:</span></td>
			<td>
				<input type='text' name='locationAddress' id="locationAddress" />
			</td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">City:</span></td>
			<td>
				<input type='text' name='city' id="city" />
      </td>
    </tr>
    <br />
    <tr>
      <td><span class="form-title">Zip:</span></td>
		  <td>
        <input type='text' name='zip' id="zip" />
			</td>
		</tr>
    <br />
		<tr>
			<td><span class="form-title">Check all filters<br />that apply:</span></td>
			<td>
				<span><input type="checkbox" name="filterCheck" id="filterCheck" value="education"> education</span><br />
				<span><input type="checkbox" name="filterCheck" id="filterCheck" value="children"> children</span><br />
				<span><input type="checkbox" name="filterCheck" id="filterCheck" value="recreation"> recreation</span><br />
				<span><input type="checkbox" name="filterCheck" id="filterCheck" value="elderly"> elderly</span><br />
				<span><input type="checkbox" name="filterCheck" id="filterCheck" value="arts"> arts</span>
      </td>
      <td>
				<span><input type="checkbox" name="filterCheck" id="filterCheck" value="community"> community</span><br />
				<span><input type="checkbox" name="filterCheck" id="filterCheck" value="animals"> animals</span><br />
        <span><input type="checkbox" name="filterCheck" id="filterCheck" value="health"> health</span><br />
        <span><input type="checkbox" name="filterCheck" id="filterCheck" value="poverty"> poverty</span><br />
        <span><input type="checkbox" name="filterCheck" id="filterCheck" value="disabled"> disabled</span>
			</td>
		</tr>
    <br />
		<tr>
			<td colspan=3><div id="submit-btn"><span>Submit!</span></div></td>
		</tr>
	
	</table>
          </div>
          </div>
          </div>
          <div class="spacer"></div>
          </div>
        </div>
     </div>
   </div>
    
    <!-- *****| Quote / Stat Section |***** -->
    <div class="row" id="quoteSection">
      <div class="container-fluid col-md-12 no-padding">
        <div id="green-section">
          <div class="container text-center">
            <div class="col-md-6 col-md-offset-3">
              <span class="quote">"Volunteering creates a national character in which the community and the nation take on a spirit of compassion, comradeship and confidence."</span><br>
              <span class="quoteName">-Brian O'Connell</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  
 <!-- *****| Footer |***** -->
  <div id="footer" class="row">
    <div class="container-fluid col-xs-12" id="footer">
      <div class="footer_wrap">
        <div class="links col-md-4">
          
        </div>
        <div class="social col-md-4 text-center">
          <span>Follow Us!</span>
          {{> socialShareBasic}}
        </div>
        <div class="legal col-md-4">
          
        </div>
      </div>
    </div>
  </div>
  
 
</div><!-- End pageWrap -->
</template>

